---
#========================================================================
# Copyright Universidade Federal do Espirito Santo (Ufes)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# This program is released under license GNU GPL v3+ license.
#
#========================================================================

services:
  # ldap server
  ldap:
    image: osixia/openldap:1.3.0
    container_name: ldap
    volumes:
      - ./data.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/data.ldif
    # command: --copy-service -l debug
    command: --copy-service
    environment:
      LDAP_ORGANISATION: 'DI'
      LDAP_DOMAIN: 'inf.ufes.br'
      LDAP_BASE_DN: 'dc=inf,dc=ufes,dc=br'
      LDAP_ADMIN_PASSWORD: 'ldappw'
      TZ: America/Sao_Paulo
    ports:
      - 389:389

  # ldap account manager
  lam:
    image: ldapaccountmanager/lam:stable
    container_name: lam
    ports:
      - 8081:80
    environment:
      LDAP_DOMAIN: 'inf.ufes.br'
      LDAP_BASE_DN: 'dc=inf,dc=ufes,dc=br'
      LDAP_SERVER: 'ldap://ldap:389'
      LDAP_USER: 'cn=admin,dc=inf,dc=ufes,dc=br'
      LAM_PASSWORD: 'ldappw'
      LDAP_ADMIN_PASSWORD: 'ldappw'
      LDAP_ORGANISATION: 'DI'
      TZ: America/Sao_Paulo
    depends_on:
      - ldap

  # web app
  boca-web:
    image: boca-web-auth
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      # database configuration
      # privileged user password
      - BOCA_DB_SUPER_PASSWORD=superpass
      #######################
      # authorization setup
      #######################
      # specifies the authentication method to use. The possible choices
      # are summarized below (if unspecified then password authentication
      # is used):
      #  - password: require the user to supply a password
      #  - ldap: authenticate using a LDAP server
      #  - google: authenticate using a Google account
      - BOCA_AUTH_METHOD=ldap
      # specifies custom BOCA users. If unspecified then considers the
      # default system and admin, which use the default authentication
      # method (password).
      - BOCA_SYSTEM_USER=professorum
      - BOCA_ADMIN_USER=professordois
      # defines a list of comma-separated users that will authenticate
      # using the default method (password). They will not be created
      # automatically, unless are the same used in the BOCA_SYSTEM_USER
      # or BOCA_ADMIN_USER env variables.
      - BOCA_LOCAL_USERS=aluno
      # configuration options for LDAP authentication
      # example 1: passing LDAP env vars directly in docker-compose.
      - LDAP_SERVER=ldap://ldap:389
      - LDAP_BASE_DN=dc=inf,dc=ufes,dc=br
      - LDAP_USER=cn=admin,dc=inf,dc=ufes,dc=br
      - LDAP_PASSWORD=ldappw
    # example 2: passing LDAP env vars from file.
    # env_file:
    #     - .env.ldap
    ports:
      - 8001:80
    volumes:
      - ./src/index.php:/var/www/boca/src/index.php
      - ./src/flog.php:/var/www/boca/src/flog.php
      - ./src/fcontest.php:/var/www/boca/src/fcontest.php
      - ./src/admin/user.php:/var/www/boca/src/admin/user.php
      - ./src/optionlower.php:/var/www/boca/src/optionlower.php
      - ./src/ldap.php:/var/www/boca/src/ldap.php
      - ./src/googleclient.php:/var/www/boca/src/googleclient.php

  # # online judge
  # boca-jail:
  #     image: ghcr.io/joaofazolo/boca-docker/boca-jail:1.2
  #     privileged: true

  # database
  boca-db:
    image: postgres:14-alpine
    environment:
      # database configuration
      # privileged user password
      - POSTGRES_PASSWORD=superpass
